addclub view
{{error}}
<form id="addClubForm" action="/addclub" method="post">
    <div>
        <label for="clubName">Club Name:</label>
        <div>
            <input id="clubName" type="text" value="" placeholder="Club Name" name="clubName" />
        </div>
    </div>
    <div>
        <button type="submit" value="Add Club" class="btn btn-default">Add Club</button>
    </div>
</form>