adduser view
<form id="addUserForm" action="./adduser" method="post">
    <div>
        <label for="userName">Username:</label>
        <div>
            <input id="userName" type="text" value="" placeholder="Username" name="userName" />
        </div>
    </div>
    <div>
        <label for="password">Password:</label>
        <div>
            <input id="password" type="text" value="" placeholder="Password" name="password" />
        </div>
    </div>
    <div>
        <label for="firstName">First Name:</label>
        <div>
            <input id="firstName" type="text" value="" placeholder="First Name" name="firstName" />
        </div>
    </div>
    <div>
        <label for="lastName">Last Name:</label>
        <div>
            <input id="lastName" type="text" value="" placeholder="Last Name" name="lastName" />
        </div>
    </div>
    <div>
        <button type="submit" value="Add User" class="btn btn-default">Add User</button>
    </div>
</form>
